<%= stylesheet_link_tag 'static_pages' %>
<body class="page">
	<div class ="wrapper container">
		<div class="wrapper-head row">
			<div class="wrapper-logo row">
                <h1 class="title">¡Conócenos!</h1>
			        <%= link_to image_tag('paprika_logo.jpg', :class => "logo img-responsive"), root_path %>
		    </div>
			<div class="col-md-7 col-xs-12 group-col vcenter">
				<!--<%= image_tag('grupo.JPG', :class => "group img-responsive") %>-->
			</div>
		</div>

		<div class="wrapper-body row">
			<h2>NUESTRO EQUIPO</h2>
			<p class="intro-body">Somos un equipo de futuros Ingenieros de Sistemas y Computación de la Universidad Nacional de Colombia, emprendedores y creativos.</p>

			<div class = "row team-row">
				<!--<%= image_tag('laurav.JPG', :class => "team-photo img-responsive") %>-->
				<h4 class="team-text">LAURA VIVIANA ÁLVAREZ CARVAJAL</h4>
				<p class="team-role">Scrum master</p>
				<p class="team-role">development</p>
			</div>

			<div class="row team-row">
				<div class="col-md-6 col-xs-12">
					<!--<%= image_tag('lauraa.JPG', :class => "team-photo img-responsive") %>-->
					<p class="team-text">LAURA ALEJANDRA CHAPARRO GUTIERREZ</p>
					<p class="team-role">development</p>
				</div>
				<div class="col-md-6 col-xs-12">
					<!--<%= image_tag('andres.JPG', :class => "team-photo img-responsive") %>-->
					<p class="team-text">ANDRÉS FELIPE LÓPEZ BECERRA</p>
					<p class="team-role">development</p>
				</div>
			</div>

			<div class="row team-row">
				<div class="col-md-6 col-xs-12">
					<!--<%= image_tag('jonathan.JPG', :class => "team-photo img-responsive") %>-->
					<p class="team-text">JONATHAN MARTÍNEZ CHINGATE</p>
					<p class="team-role">development</p>
				</div>
				<div class="col-md-6 col-xs-12">
					<!--<%= image_tag('sebastian.JPG', :class => "team-photo img-responsive") %>-->
					<p class="team-text">JUAN SEBASTIÁN PARDO JIMÉNEZ</p>
					<p class="team-role">development</p>
				</div>
			</div>
		</div>
	</div>
</body>