<%= form_for(recipe_score) do |f| %>
  <% if recipe_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_score.errors.count, "error") %> prohibited this recipe_score from being saved:</h2>

      <ul>
      <% recipe_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :recipe_id %>
    <%= f.text_field :recipe_id %>
  </div>

  <div class="field">
    <%= f.label :score %>
    <%= f.number_field :score %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
