<p id="notice"><%= notice %></p>

<h1>Recipe Scores</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Recipe</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_scores.each do |recipe_score| %>
      <tr>
        <td><%= recipe_score.user %></td>
        <td><%= recipe_score.recipe %></td>
        <td><%= recipe_score.score %></td>
        <td><%= link_to 'Show', recipe_score %></td>
        <td><%= link_to 'Edit', edit_recipe_score_path(recipe_score) %></td>
        <td><%= link_to 'Destroy', recipe_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe Score', new_recipe_score_path %>
