<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<html>
  <head>
    <title>PaprikaWeb</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <ul >
      <% if user_signed_in? %>
        <li>
          Usuario: 
          <%= current_user.email %>
          <%= link_to "Editar perfil", edit_user_registration_path %>
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
        </li>
      <%else%>
        <li>
          <%= link_to "Iniciar sesión", new_user_session_path%>
        </li>
        <li>
          <%= link_to "Crear cuenta", new_user_registration_path%>
        </li>
      <% end%>
    </ul>

    <%= yield %>

    <p>
      <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
      |
      <%= link_to_unless I18n.locale == :es, "Spanish", locale: :es %>
    </p>

  </body>
</html>
